.char-hab-card {
    position: relative;
    background-color: var(--white);
    box-shadow: var(--box-shadow-light);
    border-radius: var(--border-radius);
    min-width: 100px;
    flex: 0 1 calc(16% - 1rem);
    transition: background-color 250ms;
}

.char-hab-card.active {
    background-color: var(--light-color2);
}

.char-hab-card.lock {
    background-color: var(--light-color3);
}

.char-hab-card .card-header {
    border-bottom: #00000020 solid 1px;
    padding: 1em;
}

.char-hab-card .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: #00000020 solid 1px;
    padding: 0;
    height: 0;
    transition: height 150ms ease-in;
}

.char-hab-card .card-footer {
    overflow: hidden;
    position: relative;
    padding: 0;
    height: 0;
    transition: height 150ms 150ms ease-out;
}

.char-hab-card .card-body.show {
    height: 54px;
}

.char-hab-card .card-footer.show {
    height: 54px;
}

.char-hab-card {
    user-select: none;
}

.hab-value-cancel {
    height: 100%;
    width: 100%;
}

.hab-mod,
.hab-val {
    flex: 1 1 50%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms 100ms;
}

.hab-val {
    font-size: large;
    font-weight: 300;

}

.hab-mod {
    border-left: #00000020 solid 1px;
    font-size: 1.5rem;
    font-weight: 700;
}

.card-body:not(.show) .hab-mod,
.card-body:not(.show) .hab-val {
    opacity: 0;
    transition: opacity 0ms;
}