.btn {
    cursor: pointer;
    position: relative;
    justify-content: center;
    flex: 0 1 50%;
    font-weight: 700;
    padding: 1em 0;
    box-shadow: var(--box-shadow-light);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--light-color2);
    overflow: hidden;
    z-index: 1;

    /* for links */
    text-align: center;
    color: var(--dark-color2);
    text-decoration: none;
}

.btn-icon {
    position: absolute;
    height: 2em;
    width: 2em;
    right: .8em;
    top: 50%;
    transform: translateY(-50%);
}

.btn:hover {
    color: var(--light-color);
}

.btn:focus {
    outline: var(--dark-color2) solid 2px;
    color: var(--light-color);
}

.btn::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-color);
    z-index: -1;

    opacity: 0;
    transition: opacity 250ms;
}

.btn:hover::after,
.btn:focus::after {
    opacity: 1;
    transition: opacity 100ms;
}

.btn.sec {
    background-color: var(--white);
    color: var(--dark-color);
}

.btn.sec:hover,
.btn.sec:focus {
    color: var(--light-color);
}

.btn.sec::after {
    background-color: var(--dark-color);
}

.btn.cancel {
    background-color: var(--danger-color);
    color: var(--dark-color);
}

.btn.cancel:hover,
.btn.cancel:focus {
    color: var(--light-color);
}

.btn.cancel::after {
    background-color: var(--danger-color2);
}