.drag-card {
    background-color: var(--light-color2);
    box-shadow: var(--box-shadow-light);
    border-radius: var(--border-radius);
    min-width: 280px;
    overflow: hidden;
    transition: none;
    touch-action: none;
}

.drag-card.dragging {
    background-color: var(--danger-color);
    box-shadow: var(--box-shadow-heavy);
    pointer-events: none;
    z-index: 10;
}

.drag-card.dragging.droppable {
    opacity: .8;
    background-color: var(--light-color3);

}

.drag-card:not(.show) {
    transform: scale(0);
    opacity: 0;
    overflow: hidden;
}

.drag-card .card-header {
    border-bottom: #00000020 solid 1px;
    padding: 1em;
}

.drag-card .card-body {
    border-bottom: #00000020 solid 1px;
    padding: 1em;
}

.drag-card .card-footer {
    padding: 1em;
}

.drag-card {
    flex: 1 1 25%;
}

.drag-card:hover,
.drag-card:focus {
    transform: scale(1.03125);
    z-index: 1;
}