.new-password-wrapper {
    display: flex;
    position: relative;
    flex: 1 0 100%;
}

.password-meter {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    background-color: tomato;
    transition: transform 200ms, background-color 200ms;
}

.password-meter-msg {
    position: absolute;
    width: 100%;
    bottom: -1.5em;
    font-size: 16px;
    color: tomato;
    transition: transform 200ms, color 200ms;
}

.password-meter.level1 {
    transform: scaleX(0.25);
    background-color: tomato;
}

.password-meter.level2 {
    transform: scaleX(0.5);
    background-color: orange;
}

.password-meter.level3 {
    transform: scaleX(0.75);
    background-color: yellowgreen;
}

.password-meter.level4 {
    transform: scaleX(1);
    background-color: limegreen;
}

.password-meter-msg.level1::after {
    content: 'Namoral? Tomara q a do facebook seja melhor';
    color: rgb(153, 60, 43);
}

.password-meter-msg.level2::after {
    content: 'Normal';
    color: rgb(161, 105, 0);
}

.password-meter-msg.level3::after {
    content: 'Ó o cara achando q é hacker.';
    color: rgb(106, 141, 36);
}

.password-meter-msg.level4::after {
    content: 'Meteu essa?';
    color: rgb(31, 128, 31);
}


@keyframes loadingFormBtn {
    0% {
        background-color: var(--light-color2);
    }

    100% {
        background-color: var(--light-color3);
    }
}

@keyframes loadingFormSvg {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn.loading-form {
    position: relative;
    cursor: default;
    transition: background-color 100ms;
    animation: loadingFormBtn 1s infinite alternate;
}

.btn.signup svg {
    opacity: 0;
    position: absolute;
    right: 10%;
    width: 1.5em;
    height: 1.5em;
    transition: opacity 200ms;
}

.btn.loading-form svg {
    opacity: 1;
    animation: loadingFormSvg 1s infinite linear;
}

.btn.loading-form:hover::after {
    opacity: 0;
}